<div class="social-container" *ngIf="!!hotel?.social">
  <h3 class="social-title" >{{hotel.social.title + ' ' + hotel.city}}</h3>
  <hr class="hr">
  <div
    class="social-image"
    [ngStyle]="{'background-image': 'url(' + hotel.social.img + ')'}"
  >
  </div>
  <div class="socail-footer">
    <span class="followers">
      <p class="followers-total">{{hotel.social.followers}}</p>
      <p class="followers-text">Followers</p>
    </span>
    <div class="vr"></div>
    <span class="following">
      <p class="following-total">{{hotel.social.following}}</p>
      <p class="following-text">Following</p>
    </span>
  </div>
</div>
