<div class="descriptions"
     #descriptions
     (scroll)="onHotelScrollSelect(descriptions)"
>

  <div class="description"
       *ngFor="let hotel of (getCountryHotels() | async);let i = index;"
  >

    <div class="description-container">

      <div class="description-text">
        <h5>Resort Address</h5>
        {{hotel['street']}},<br>
        {{hotel['city']}}<br>
      </div>
      <p class="description-phone">
        Tel: {{hotel['phone'] | phoneTransform: countryName: ' ': true}}
      </p>
    </div>
    <div class="description-images" #pics>
      <div class="description-image"
           #pic1
           (click)="onHotelPicSelect(pic1,pics)"
           [ngStyle]="{'background-image':
                  'url(' +hotel.img[0] + ')'}">
      </div>
      <div
        #pic2
        (click)="onHotelPicSelect(pic2,pics)"
        class="description-image"
        [ngStyle]="{'background-image':
              'url(' + hotel.img[1] + ')'}">
      </div>
    </div>
  </div>
</div>
