
  <ul class="nav"
      *countriesMenu=
        "let currentCountries of countriesList;let ctr = control;
         let currIndex = currentIndex;"
  >
    <li class="nav-arrow"
        (click)="ctr.prev();onCountriesPaging(currIndex);"
    >
      <i style="color: white" class="far fa-hand-point-left"></i>
    </li>

    <li class="nav-item"
        *ngFor="let countryToView of currentCountries;let i = index;"
        (click)="onCountrySelect(country)" #country>
      <a>{{countryToView}}</a>
    </li>
    <li class="nav-arrow"
        (click)="ctr.next();onCountriesPaging(currIndex);"
    >
      <i style="color: white" class="far fa-hand-point-right"></i>
    </li>
  </ul>


